# Looping Statements

### Looping statements can be  used for iteratin gover a series of numbers or through iterables 
### or data structures or through the collection of data

## Range()

## range() fuctgion can be used  for working as our iterable

## range( ) takes input parameter and the first parameter that the range parameter will be taking as the input will be the initial value you want to print or operate on and then  you will be passing the next input after comma as the parameter as the final value and it can take third parameter as well that will be the step size and that is the differernce between the iterating values

In [7]:
# print numbers from 1 to 50
# for i in range(initial value,end value+1,step value):
for i in range(1, 51,1):
   print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

## inthe range there is never neccessity for mentioning the step size and similar if you can want to print the numbers or  you to operate on numbers again there is no necessity passing the initial value as well if and only if your initial value is zero

In [9]:
#numbers from 0 to 100
for i in range(101):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [10]:
# print numbers from 50 to 1 with step value -1
for i in range(50,0,-1):
    print(i)

50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [11]:
# print numbers from 50 to 0 with step value -5
for i in range(50,-1,-5):
    print(i)

50
45
40
35
30
25
20
15
10
5
0

##  In looping statement , we can iterate  through iterables like string as well

In [12]:
Name="Santosh Sanjay Barkade"
for i in Name:
    print(i)

S
a
n
t
o
s
h

S
a
n
j
a
y

B
a
r
k
a
d
e