# List

## List are one of the type of data strucutures which are used for storing the data in a structured format where you can store data of any data type and that as it is one of the data structure so we can have access  to the data as well that we are going to store into the list and we can apply crud operation as well i.e (create, read, update, delete)

In [1]:
a=list()

In [2]:
type(a)

list

In [5]:
lists_variable=["santosh",11, 'hello',3.14, True]

In [6]:
print(lists_variable)

['santosh', 11, 'hello', 3.14, True]

In [8]:
''' By using the data strucures , we can apply crud operations like inserting the data , deleting , updating and reading the data'''
lists=[ "santosh", "python", 21, 3.14, True]

In [9]:
lists

['santosh', 'python', 21, 3.14, True]

## Lists are ordered and mutable data strucutre

## List Indexing

In [15]:
## By using proper indexing we can read the data from the list
print(lists[0])
lists[1]
lists[0]

santosh

'santosh'

In [17]:
## Length of the list is total number of elements present in the list
len(lists)

5

In [19]:
print(lists[4])

True

In [2]:
lists=["Mango", "Banana", "Grapes", "Apple", "Pineapple","Guava"]

In [3]:
print(lists[5])

Guava

In [8]:
# Negative indexing is used to read the data from the end of the list

print(lists[-4])

Grapes

In [9]:
print(lists[-2])

Pineapple

## List Slicing

## list slicing can help us out with retrieving specific data points from our list

In [12]:
# for having the access for all of the value you are going to store insde the list , you can use the slicing :

print(lists[1:4])

['Banana', 'Grapes', 'Apple']

In [16]:
## Reverse the list we can use the slicing method as lists[::-1]
print(lists[::-1])

['Guava', 'Pineapple', 'Apple', 'Grapes', 'Banana', 'Mango']

In [17]:
vegetables=["Tomato", "Potato", "Onion", "Carrot", "Cabbage"]

In [19]:
print(vegetables[::-1])

['Cabbage', 'Carrot', 'Onion', 'Potato', 'Tomato']

In [20]:
print(vegetables[1:])

['Potato', 'Onion', 'Carrot', 'Cabbage']

In [21]:
print(vegetables[:-2])

['Tomato', 'Potato', 'Onion']

## Lists are Mutable

#### By mentioning that lists are mutable we mean to say that we can replace the values present at specific location inside our list

In [22]:
lists[2]

'Grapes'

In [28]:
lists[2]="Peach"

In [29]:
lists[2]

'Peach'

In [30]:
lists

['Mango', 'Banana', 'Peach', 'Apple', 'watermelon', 'Guava']

In [31]:
lists[4]="watermelon"

In [32]:
lists

['Mango', 'Banana', 'Peach', 'Apple', 'watermelon', 'Guava']

### BY using looping  statements we can iterate through the list as well as

In [33]:
for item in lists:
    print(item)

Mango
Banana
Peach
Apple
watermelon
Guava

In [34]:
list_item=[1,2,3,4,5,"Santosh", 3.14, True, [1,2,3], (1,2,3), {"name":"santosh", "age":21}]

In [35]:
for i in list_item:
    print(i)

1
2
3
4
5
Santosh
3.14
True
[1, 2, 3]
(1, 2, 3)
{'name': 'santosh', 'age': 21}

In [ ]:
## Slicing with step means that you can specify the step size for slicing the list. The syntax for slicing with step is list[start:stop:step]. The step parameter determines how many elements to skip between each element in the slice. For example, if you want to get every second element from a list, you can use a step of 2.
print(list_item[::2])

[1, 3, 5, 3.14, [1, 2, 3], {'name': 'santosh', 'age': 21}]

In [44]:
## If you want to get from the end of the list with a step of 3, you can use a negative step value. For example, if you want to get every third element from the end of the list, you can use a step of -3.
print(list_item[::-3])

[{'name': 'santosh', 'age': 21}, True, 5, 2]

# List Methods

In [46]:
# append() method is used to add an element at the end of the list
list_item.append("New Item")

In [47]:
list_item

[1,
 2,
 3,
 4,
 5,
 'Santosh',
 3.14,
 True,
 [1, 2, 3],
 (1, 2, 3),
 {'name': 'santosh', 'age': 21},
 'New Item']

In [48]:
# insert() method is used to add an element at a specific index in the list. The syntax for insert() method is list.insert(index, element). The index parameter specifies the position where the element should be inserted, and the element parameter is the value that you want to insert into the list. For example, if you want to insert an element at index 2, you can use the following code:
list_item.insert(2, "Inserted Item")

In [49]:
list_item

[1,
 2,
 'Inserted Item',
 3,
 4,
 5,
 'Santosh',
 3.14,
 True,
 [1, 2, 3],
 (1, 2, 3),
 {'name': 'santosh', 'age': 21},
 'New Item']

In [4]:
lists_numbers=[1,2,3,23,43,1,6,3,5,6,7,9]

In [52]:
# remove() method is used to remove an element from the list. The syntax for remove() method is list.remove(element). The element parameter is the value that you want to remove from the list . it will remove first occurrence of the element from the list. For example, if you want to remove the element 3 from the list, you can use the following code:
lists_numbers.remove(3)

In [53]:
lists_numbers

[1, 2, 23, 43, 1, 6, 3, 5, 6, 7, 9]

In [54]:
# Pop() method is used to remove an element from the list based on the index. The syntax for pop() method is list.pop(index). The index parameter specifies the position of the element that you want to remove from the list. If you do not provide an index, it will remove the last element from the list. For example, if you want to remove the element at index 2, you can use the following code:
lists_numbers.pop(2)

23

In [56]:
lists_numbers

[1, 2, 43, 1, 6, 3, 5, 6, 7, 9]

In [57]:
# index() method is used to find the index of the first occurrence of an element in the list. The syntax for index() method is list.index(element). The element parameter is the value that you want to find the index of in the list. For example, if you want to find the index of the element 6 in the list, you can use the following code:
index_value=lists_numbers.index(6)

In [58]:
index_value

4

In [59]:
# count() method is used to count the number of occurrences of an element in the list. The syntax for count() method is list.count(element). The element parameter is the value that you want to count in the list. For example, if you want to count the number of occurrences of the element 1 in the list, you can use the following code:
count_value=lists_numbers.count(1)

In [60]:
count_value

2

In [61]:
#sort() method is used to sort the elements of the list in ascending order. The syntax for sort() method is list.sort(). For example, if you want to sort the list of numbers, you can use the following code:
lists_numbers.sort()

In [62]:
lists_numbers

[1, 1, 2, 3, 5, 6, 6, 7, 9, 43]

In [63]:
# clear() method is used to remove all the elements from the list. The syntax for clear() method is list.clear(). For example, if you want to clear all the elements from the list, you can use the following code:
lists_numbers.clear()

In [64]:
lists_numbers

[]

In [5]:
# reverse() method is used to reverse the order of the elements in the list. The syntax for reverse() method is list.reverse(). For example, if you want to reverse the order of the elements in the list, you can use the following code:
lists_numbers.reverse()

In [6]:
lists_numbers

[9, 7, 6, 5, 3, 6, 1, 43, 23, 3, 2, 1]

In [8]:
# enumerate() method is used to get the index and value of each element in the list. The syntax for enumerate() method is enumerate(list). For example, if you want to get the index and value of each element in the list, you can use the following code:
for index, value in enumerate(lists_numbers):
    print(f"Index: {index}, Value: {value}")

Index: 0, Value: 9
Index: 1, Value: 7
Index: 2, Value: 6
Index: 3, Value: 5
Index: 4, Value: 3
Index: 5, Value: 6
Index: 6, Value: 1
Index: 7, Value: 43
Index: 8, Value: 23
Index: 9, Value: 3
Index: 10, Value: 2
Index: 11, Value: 1

## List Comprehension

In [ ]:
# create a list storing the values from 1 to 10

## List Comprehension 

### we are going to use the looping statement inside the list so we can store the valuess inside the list in an iterable format and in list comprehension conditional statement are allowed as well

### Sytax for the comprehension is:
 ### [expression for item in iterable if condition]

### expression ---> what we want to print 
### for item in iterable ---> looping statements
### if condition ---> condional statement

In [9]:
# i need to store values from 1 to 50 inside the list

list_items=[x for x in range(1,51)]

In [10]:
list_items

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50]

In [11]:
list_squared=[items**2 for items in range(1,16)]

In [12]:
list_squared

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225]

In [13]:
# if we only interested in looking over the squae values which are even

list_items=[items**2 for items in range (1,19) if items%2==0]

In [14]:
list_items

[4, 16, 36, 64, 100, 144, 196, 256, 324]

## Function in list comprehension as well

In [17]:
list_items=["Apple", "Banana", "Cherry", "Date", "Elderberry", "Fig", "Grape", "Honeydew", "Kiwi", "Lemon"]

In [18]:
length_list=[len(word) for word in list_items]

In [19]:
length_list

[5, 6, 6, 4, 10, 3, 5, 8, 4, 5]

## Nested list comprehension

### we will having combination of multiple list in our single list itself

In [20]:
list_items

['Apple',
 'Banana',
 'Cherry',
 'Date',
 'Elderberry',
 'Fig',
 'Grape',
 'Honeydew',
 'Kiwi',
 'Lemon']

In [22]:
length_list

[5, 6, 6, 4, 10, 3, 5, 8, 4, 5]

In [24]:
pair=[[i,j] for i in list_items for j in length_list]

In [25]:
pair

[['Apple', 5],
 ['Apple', 6],
 ['Apple', 6],
 ['Apple', 4],
 ['Apple', 10],
 ['Apple', 3],
 ['Apple', 5],
 ['Apple', 8],
 ['Apple', 4],
 ['Apple', 5],
 ['Banana', 5],
 ['Banana', 6],
 ['Banana', 6],
 ['Banana', 4],
 ['Banana', 10],
 ['Banana', 3],
 ['Banana', 5],
 ['Banana', 8],
 ['Banana', 4],
 ['Banana', 5],
 ['Cherry', 5],
 ['Cherry', 6],
 ['Cherry', 6],
 ['Cherry', 4],
 ['Cherry', 10],
 ['Cherry', 3],
 ['Cherry', 5],
 ['Cherry', 8],
 ['Cherry', 4],
 ['Cherry', 5],
 ['Date', 5],
 ['Date', 6],
 ['Date', 6],
 ['Date', 4],
 ['Date', 10],
 ['Date', 3],
 ['Date', 5],
 ['Date', 8],
 ['Date', 4],
 ['Date', 5],
 ['Elderberry', 5],
 ['Elderberry', 6],
 ['Elderberry', 6],
 ['Elderberry', 4],
 ['Elderberry', 10],
 ['Elderberry', 3],
 ['Elderberry', 5],
 ['Elderberry', 8],
 ['Elderberry', 4],
 ['Elderberry', 5],
 ['Fig', 5],
 ['Fig', 6],
 ['Fig', 6],
 ['Fig', 4],
 ['Fig', 10],
 ['Fig', 3],
 ['Fig', 5],
 ['Fig', 8],
 ['Fig', 4],
 ['Fig', 5],
 ['Grape', 5],
 ['Grape', 6],
 ['Grape', 6],
 ['Grape', 4],
 ['Grape', 10],
 ['Grape', 3],
 ['Grape', 5],
 ['Grape', 8],
 ['Grape', 4],
 ['Grape', 5],
 ['Honeydew', 5],
 ['Honeydew', 6],
 ['Honeydew', 6],
 ['Honeydew', 4],
 ['Honeydew', 10],
 ['Honeydew', 3],
 ['Honeydew', 5],
 ['Honeydew', 8],
 ['Honeydew', 4],
 ['Honeydew', 5],
 ['Kiwi', 5],
 ['Kiwi', 6],
 ['Kiwi', 6],
 ['Kiwi', 4],
 ['Kiwi', 10],
 ['Kiwi', 3],
 ['Kiwi', 5],
 ['Kiwi', 8],
 ['Kiwi', 4],
 ['Kiwi', 5],
 ['Lemon', 5],
 ['Lemon', 6],
 ['Lemon', 6],
 ['Lemon', 4],
 ['Lemon', 10],
 ['Lemon', 3],
 ['Lemon', 5],
 ['Lemon', 8],
 ['Lemon', 4],
 ['Lemon', 5]]

In [26]:
lst_1=[1,3,4]
lst_2=[2,6,9]

paired_list=[[i,j] for i in  lst_1 for j in lst_2]

In [27]:
paired_list

[[1, 2], [1, 6], [1, 9], [3, 2], [3, 6], [3, 9], [4, 2], [4, 6], [4, 9]]