# SETS

### Sets are going to be our third data structure  which can store values inside it within the curly braces {}  and are known for storing the values which are Non-Duplicate

In [2]:
a=set()

In [3]:
type(a)

set

In [4]:
set_values={1,2,3,4,5}

In [5]:
set_values

{1, 2, 3, 4, 5}

In [6]:
type(set_values)

set

## Methods in Set

### add() method is used to add a single element to the set at the  end of set

In [7]:
set_values.add(8)

In [8]:
set_values

{1, 2, 3, 4, 5, 8}

In [9]:
# set only contains unique values. If we try to add 8 again, it will not be added to the set.
set_values.add(8)

In [10]:
set_values

{1, 2, 3, 4, 5, 8}

In [11]:
set_values.add(1)

In [12]:
set_values

{1, 2, 3, 4, 5, 8}

In [13]:
set_empty=set()

In [14]:
set_empty

set()

In [15]:
type(set_empty)

set

In [16]:
set_empty.add(2)

In [17]:
set_empty

{2}

In [18]:
set_empty.add(4)

In [19]:
set_empty

{2, 4}

In [20]:
# User is asking me to add values inside a  set which must be unique and non duplicate

In [21]:
set_values={1,2,3,4,5}

In [24]:
for i in range(1,21):
    set_values.add(i)

In [25]:
set_values

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}

In [26]:
fruits={'apple', 'banana', 'cherry','grapes','orange'}

In [27]:
vegetables={'carrot', 'broccoli', 'spinach','potato','onion','apple','grapes'}

In [28]:
for items in vegetables:
    fruits.add(items)

In [29]:
fruits

{'apple',
 'banana',
 'broccoli',
 'carrot',
 'cherry',
 'grapes',
 'onion',
 'orange',
 'potato',
 'spinach'}