# Variables

## Variables are the elements in the python that can be used for storing data into it or values into it or they can be referred as container as well .
##  variables as per their name, data can vary  that we are going to store into it and once we have declared a variable we can vary the value stored in it.

In [2]:
age=22
Name="santosh"
Height=5.9
is_true=True

In [2]:
Height

5.9

In [ ]:
Name

'santosh'

# print()

## print() --> print function is being used to represent the value we are going to pass inside it

In [4]:
print(age)

22

In [3]:
print("Name is : " , Name)

Name is :  santosh

## Comment
## Comment is statement in the program that we dont want the interpreter to execute 

## Interpreter executes the code line by line in python language
 ## Compiler  ---> executes the code completely

In [5]:
# Hello i am explaining about how to wite comments

In [8]:
'''name
santosh'''

'name\nsantosh'

# Variable  Naming Convention

In [9]:
'''Variables names must be Descriptive : 
Age= 22
Name="Santosh"'''

'Variables names must be Descriptive : \nAge= 22\nName="Santosh"'

In [ ]:
''' they must start with a letter or underscore and can contain letters , numbers and underscores but cannot start with a number.'''

In [ ]:
_name="Santosh"

In [ ]:
''' variables are also case sensitive '''

In [1]:
name="Santosh"
Name="Santosh"
name==Name

True

In [4]:
Age=22
Name="Chetan"
is_true=True
print(type(Age))
print(type(Name))
print(type(is_true))

<class 'int'>
<class 'str'>
<class 'bool'>

In [5]:
Age=45

In [3]:
print(Age)

45

In [7]:
Age=str(Age)
print(Age)
print(type(Age))

45
<class 'str'>

In [8]:
Name="santosh"
Name=int(Name)

ValueError: invalid literal for int() with base 10: 'santosh'

In [9]:
'''
Every type casting is not possible 
int --> str is possible
str---> int is not possible'''

'\nEvery type casting is not possible \nint --> str is possible\nstr---> int is not possible'

# input() Function

## input () can take input from user side and then can store that  input into a variable

In [1]:
Name=input("Enter your name: ")

In [2]:
print(Name)

Santosh

## input () only takes input in string format until and unless we are not going to explicitely take the input in integer  or  other format

In [3]:
Age = input("Enter your age: ")
print(type(Age))

<class 'str'>

In [4]:
Age= int(input("Enter your age: "))
print(type(Age))

<class 'int'>

In [5]:
Age= float(input("Enter your age: "))
print(type(Age))

<class 'float'>

In [ ]:
Value=bool(input("Enter the value:"))
print(type(Value))

<class 'bool'>

In [7]:
Value

True

In [2]:
## building a simple 

value_1= int(input("Enter the first value:"))
value_2= int(input("Enter the second value:"))
print("Addition for the value is :", value_1 + value_2)
print("substraction for the value is :", value_1 - value_2)
print("multiplication for the value is :", value_1 * value_2)

Addition for the value is : 25
substraction for the value is : 15
multiplication for the value is : 100